@use 'variables' as *;

.btn {
  color: var(--primary-color);
  font-size: 1.5rem;
  padding: 1vh 3vw;
  background-color: var(--primary-bgcolor);
  border: 1px solid var(--border-color);
  font-weight: 500;
  font-family: inherit;
  border-radius: 0.3rem;
  outline: none;
  line-height: 120%;

  &:focus {
    outline: none;
  }
}
