@mixin gradient {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    43deg,
    rgba(255, 0, 0, 0.35) 0%,
    rgba(255, 221, 221, 1) 37%,
    rgba(130, 238, 190, 0.65) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    43deg,
    rgba(255, 0, 0, 0.35) 0%,
    rgba(255, 221, 221, 1) 37%,
    rgba(130, 238, 190, 0.65) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    43deg,
    rgba(255, 0, 0, 0.35) 0%,
    rgba(255, 221, 221, 1) 37%,
    rgba(130, 238, 190, 0.65) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF0000', endColorstr='#82EEBE', GradientType=1 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    43deg,
    rgba(255, 0, 0, 0.35) 0%,
    rgba(255, 221, 221, 1) 37%,
    rgba(130, 238, 190, 0.65) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    43deg,
    rgba(255, 0, 0, 0.35) 0%,
    rgba(255, 221, 221, 1) 37%,
    rgba(130, 238, 190, 0.65) 100%
  );
}
