@use '../flex' as *;
@use '../variables' as *;

.charts-table {
  width: 50%;
  direction: ltr;
  margin: auto;
  overflow: hidden;
  background-color: var(--card-color);
  color: var(--text-color);

  .table-scroll {
    width: 100%;
  }

  th,
  tr,
  td {
    vertical-align: middle;
    color: var(--text-color);
  }

  td {
    border: 1px solid var(--table1-color);
    border-top: none !important;
    border-bottom: none !important;
  }

  thead {
    border-left: 1px solid var(--table2-color);
    border-top: 1px solid var(--table2-color);

    tr {
      border: 1px solid var(--table1-color);
      border-top: none !important;
    }

    th {
      border: 1px solid var(--table1-color);
    }

    tr:first-of-type th:first-of-type {
      border-top: 1px solid var(--table2-color);
      border-left: 1px solid var(--table2-color);
    }
  }

  tbody {
    border: 1px solid var(--table1-color);

    tr {
      border: 1px solid var(--table3-color);
      border-top: none !important;
      // border-bottom: none !important;
    }

    tr:nth-of-type(3),
    tr:nth-of-type(9),
    tr:last-of-type {
      border-color: var(--table1-color);

      border-top: 1px solid var(--table1-color) !important;
    }

    tr:nth-of-type(1) {
      // display: none !important;
      border: none !important;
    }
  }

  .b {
    border-top: 1px solid var(--table1-color) !important;
    border-bottom: 1px solid var(--table1-color) !important;
  }
}

// table 2
.table-2 {
  overflow-x: auto;
  direction: ltr;

  &::-webkit-scrollbar {
    height: 0.5rem;
    background-color: #ccc;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #333;
  }

  .tabel-title {
    width: 20rem;
  }

  table {
  }
}
