@use '../flex' as *;
@use '../variables' as *;
@use '../charts/line-chart' as *;
@use '../charts/Content-process-members' as *;
@use '../charts/Content-process-family' as *;
@use '../charts/bar-chart' as *;
@use '../charts/table' as *;
@use '../mq' as *;

.charts-container {
  height: auto;
  width: 100vw;
  @include cflex-center;
  justify-content: space-between;
  background-color: var(--back-bgcolor);
  padding: 5vh 5vw;
  flex-direction: column-reverse !important;

  .chart {
    width: 78vw;
    margin: 3vh 0;
    padding: 0 1vw !important;
    @include cflex-center;
    justify-content: space-evenly;
    background-color: var(--card-color);
    border-radius: 10px;
    box-shadow: $neumorphism;
  }

  span {
    font-size: 0.7rem !important;
    color: var(--text-color);

    @include mq(660px) {
      font-size: 1rem !important;
    }
    @include mq(960px) {
      font-size: 1rem !important;
    }
  }

  h2 {
    font-size: 1.1rem !important;
    line-height: 1.4rem;
    color: var(--text-color);
  }

  .labels {
    div {
      cursor: pointer;
    }
    // charts lable color
    span {
      color: var(--label-color) !important;
      width: 100%;
      z-index: 20;
    }
  }

  .line-chart {
    order: 1;
  }
  .biger-line-chart {
    order: 2;
  }
  .bar-chart-container {
    order: 5;
    margin: 3vh 0;
    width: 75vw;
  }
  .Content-process-family-container {
    order: 4;
    // padding: 0 5.5vw !important;
  }
  .Content-process-members-container {
    order: 3;
    // padding: 0 5.5vw !important;
  }
  .tables {
    order: 6;
    width: 75vw;
  }

  .table-scroll {
    position: relative;
    margin: 3vh 0;
    width: auto;
    padding: 5vh;
    border-radius: 10px;
    @include cflex-center;
    justify-content: space-between;
    box-shadow: $neumorphism;
    background-color: var(--card-color);
    font-size: 0.7rem;
    text-align: center;

    h2 {
      margin-bottom: 1rem;
    }
  }
  .tabel-title {
    position: absolute;
    top: 20px;
    line-height: 1.5rem;
  }

  @media (max-width: 550px) {
    .table-scroll {
      width: 75vw;
      height: 34rem;
      font-size: 0.5rem;
    }

    .charts-table {
      width: 80%;
    }
  }

  @media (max-width: 376px) {
    .table-scroll {
      font-size: 0.4rem;
    }

    h2 {
      font-size: 1rem;
      color: var(--text-color);
      // margin-bottom: 1rem;
    }

    .table-scroll {
      max-width: 80% !important;
      width: auto;
      height: 31rem !important;
      padding: 5vh;
      border-radius: 10px;
      @include cflex-center;
      box-shadow: $neumorphism;
      font-size: 0.685rem;
    }
  }

  @include mq(761px) {
    width: 100vw !important;
    display: grid;
    // grid-gap: 2rem;
    justify-content: unset;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      'a b'
      'c d'
      'e e'
      'f g' !important;

    .chart {
      // width: 86% !important;
      min-height: 35rem;
      padding: 0 2vw;
      margin-left: auto !important;
      margin-right: auto !important;
      page-break-after: always;
    }

    .line-chart {
      grid-area: a;
    }
    .biger-line-chart {
      grid-area: b;
    }
    .bar-chart-container {
      grid-area: e;
      width: 85vw !important;
      page-break-after: always;
    }
    .Content-process-family-container {
      grid-area: c;
      padding: 0 !important;
    }
    .Content-process-members-container {
      grid-area: d;
      padding: 0 !important;
    }

    .table-scroll {
      max-width: 88% !important;
      width: 100% !important;
      height: 31rem !important;
      padding: 5vh;
      border-radius: 10px;
      @include cflex-center;
      box-shadow: $neumorphism;
      font-size: 0.685rem;
    }

    .table-1 {
      grid-area: f;
    }
    .table-2 {
      grid-area: g;
    }

    @media (min-width: 1000px) {
      justify-items: end !important;

      .bar-chart-container {
        justify-self: center;
      }

      .table-scroll {
        justify-self: center;
      }
    }
  }
}

@media only print {
  body {
    .charts-container {
      grid-template-areas:
        'a b'
        'c d'
        'e e'
        'f f'
        'g g' !important;

      .table-2 {
        height: 22rem !important;
      }

      .bar-chart-container {
        h2 {
          transform: translateY(1px) !important;
        }
      }
    }
  }
}
