@use '../variables' as *;
@use '../flex' as *;
@use '../buttons' as *;
@use '../mq' as *;

.login-page-container {
  @include flex-center;
  width: 100%;

  .card {
    height: auto;
  }

  .container {
    margin: 5vh 0 !important;
  }

  .login-page {
    @include cflex-center;
    width: 100%;
    margin: 2vh 0;
  }

  .phone-number-container {
    width: 100%;
    @include cflex-center;
    direction: rtl;
  }

  .phone-number-input-container {
    width: 100%;
    @include flex-bottom;
    justify-content: space-between;
    margin-bottom: 5vh;
  }

  input {
    width: 100%;
    display: block;
    width: auto;
    direction: ltr;
    background-color: var(--secondary-bgcolor);
    border-radius: 4px;
    padding: 1vh 3vw;
  }

  .phone-number-input-container input {
    width: 22%;
    text-align: center;
    @include flex-center;
  }

  .phone-number {
    width: 75%;
    @include cflex-center;
    align-items: flex-start;
  }

  label {
    margin-bottom: 2vh;
    font-size: 1.5rem;
    font-weight: bold;
  }

  #phone-number {
    width: 100%;
    text-align: left;
  }
}
